package editor

import (
	"context"
	"law_flow_app_go/models"
)

templ Scripts(ctx context.Context, template models.DocumentTemplate) {
	<!-- Hidden Form for Save -->
	<form id="save-template-form" hx-put={ "/api/templates/" + template.ID } hx-target="body" class="hidden">
		<input type="hidden" name="content" id="hidden-content-input"/>
		<input type="hidden" name="name" value={ template.Name }/>
	</form>
	<script src="/static/js/template-editor.js"></script>
}
